@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&display=swap');

body {
  background-color: rgb(240, 239, 235);
  text-align: center;
}
header {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 100px;
  color: rgb (30, 33, 36)
// (221, 190, 169)
}

span {
  font-size: 75px;
}

h1 {
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

img{
  width: 150px;


}
#sign-up-screen {
  display: none
}

p {
  display: inline-block
}
#new-game-btn {
  display:none
}
#game-screen {
  display: none;
}
#nav-game{
  display: none
}

#sign-out-screen{
  display:none;
}

#game-over-screen{
  display: none
}


.box {
  align-items: center;
  background-color: lightgrey;
  border: 1px solid white;
  color: white;
  display: flex;
  height: 80px
  // justify-content: center;

}

// get turned into background img once user clicks (which assigns class name)

.playerX {

background-image: url('public/hippo.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
// ("https://amymhaddad.s3.amazonaws.com/morocco-blue.png")
// center center
}

.playerY {
background-image: url('public/croco.png');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

// #new-game-btn {
//   display: none
// }
