@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  background-color: rgb(240, 239, 235);
}
header {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 100px;
  color: rgb(221, 190, 169)
}

#game-screen {
  display: none;
}

#sign-out-screen{
  display:none;
}

.box {
  align-items: center;
  background-color: lightgrey;
  border: 1px solid white;
  color: white;
  display: flex;
  height: 80px;
  justify-content: center;
}

// get turned into background img once user clicks (which assigns class name)
.playerX {
  //  background-image: url('public/html_xhtml_and_css_all-in-one_for_dummies_2nd_edition.jpeg');
   background-color: green;

}

.playerY {
  background-color: blue;
}

#new-game-btn {
  display: none
}
